.section__content--about{
	padding:100px 0 0 0;
}
.section__content--fluid-width{
	width:80%;
	margin:auto;
	clear:both;
}
.section__content{
	clear:both;
}
.grid_new{
	width:100%;
	float:left;
	clear:both;
}
.grid--5col .grid__item{
    float:left;
    margin-right:80px;
    margin-bottom:80px;
             /* full width - space between cols * nr of inner spaces / number of cols */
    width: calc((100% - 80px * 4) / 5);
}
.grid--5col .grid__item.grid__item--padding{
            /* full width - space between cols * nr of inner spaces - padding * nr of paddings / number of cols */
    width: calc((100% - 80px * 4 - 20px * 10) / 5);
    padding:20px;
}
.grid--5col .grid__item--x2{
             /*(      one grid item    ) * 2 + space between cols */
    width: calc((((100% - 80px * 4) / 5) * 2) + 80px);
}
.grid--5col .grid__item--x2.grid__item--padding{
   
            /*   (    one grid item with padding  ) * 2 + space between cols + padding */
    width: calc((((100% - 80px * 4 - 20px * 10) / 5) * 2) + 80px + 20px * 2);
    padding:20px;
}
.grid--5col .grid__item--x3{
             /*(      one grid item    ) * 3 + space between cols */
    width: calc((((100% - 80px * 4) / 5) * 3) + 80px * 2);
}
.grid--5col .grid__item--x3.grid__item--padding{
   
            /*   (    one grid item with padding  ) * 3 + space between cols + padding */
    width: calc((((100% - 80px * 4 - 20px * 10) / 5) * 3) + 80px * 2 + 20px * 4);
    padding:20px;
}
.grid--5col .grid__item--x3{
    width: calc((((100% - 80px * 4) / 5) * 3) + 80px * 2);
}
.grid--5col .grid__item--x4{
             /*(      one grid item    ) * 4 + space between cols */
    width: calc((((100% - 80px * 4) / 5) * 4) + 80px * 3);
}
.grid--5col .grid__item--x4.grid__item--padding{
   
            /*   (    one grid item with padding  ) * 4 + space between cols + padding */
    width: calc((((100% - 80px * 4 - 20px * 10) / 5) * 4) + 80px * 3 + 20px * 6);
    padding:20px;
}
.grid--about .grid__item{
	margin-bottom:0px;
}
.grid--about .grid__title{
	font-size:36px;
	line-height:42px;
	font-weight:300;
	padding:0 0 40px 0;
	margin:0px;
	position:relative;
}
.grid--about .grid__text{
	font-size:18px;
	color:#848484;
	line-height:26px;
}
.grid--about .grid__list{
	padding:20px 0 0 0;
}
.grid--about .grid__list li{
	background:url(/assets/images/checked.png) no-repeat 0 50%;
	font-size:18px;
	padding:10px 0 10px 40px;
}
.grid--about .problems_list li{
	background:url(/assets/images/x.png) no-repeat 0 50%;
	font-size:18px;
	padding:10px 0 10px 40px;
}
.grid--contact .grid__item--x2, .grid--contact .grid__item--x3{
	margin-bottom:0px;
}
 .grid--contact .grid__item--x2.grid__item--padding{
	
	         /*   (    one grid item with padding  ) * 2 + space between cols + padding */
	 width: calc((((100% - 80px * 4 - 50px * 10) / 5) * 2) + 80px + 50px * 2);
	 padding:40px 50px;
	 background:none;
}
.grid .grid__item:last-child{
    float: right;
    margin-right: 0px;
}
.adjustement{
    float: left !important;
    margin-right: 0px !important;
}
.grid__title{
	font-size:24px;
	font-weight:400;
	padding:0 0 20px 0;
	margin:0px;
}
.grid__title span{
	font-weight:700;
}
.grid__text {
	padding-bottom:20px;
	line-height:26px;
}
.grid__text span{
	font-weight:700;
}
.grid__list{
	list-style:none;
	padding:0px;
	margin:0px;
}
.grid__list li{
	list-style:none;
	padding:5px 0;
	margin:0px;
	line-height:22px;
}
.grid__image{
	width:100%;
}
.grid__image img{
	display:block;
	max-width:100%;
}
.grid__image--right img{
	float:right;
}
.grid__image--left img{
	float:left;
}
.section--features{
	width:100%;
	position:relative;
	padding:0;
}
#problem{
	margin-bottom: 350px;
}
#solution{
	margin-bottom: 500px;
}
.mailerlitefix{
	margin-top: 150px;
}
.mailerlitefix2{
	margin-bottom: -100px;
}
.section-home-project1{
    background-image:url(/assets/images/decks/Darwin^x\ Deck.jpg) !important;
}
.section-home-project2{
    background-image:url(/assets/images/Walmart/main.png) !important;
}
.section-home-project3{
    background-image:url(/assets/images/Grover/home.jpg) !important;
}
.section-home-project4{
    background-image:url(/assets/images/Lendr/hom.jpg) !important;
}
.section-home-project6{
    background-image:url(/assets/images/decks/Darwin^x\ Deck.jpg) !important;
}
.section-home-project7{
    background-image:url(/assets/images/decks/Darwin^x\ Deck.jpg) !important;
}
.section-home-project8{
    background-image:url(/assets/images/Livelihood/map.jpg) !important;
}
.section-home-project9{
    background-image:url(/assets/images/decks/Darwin^x\ Deck.jpg) !important;
}
.section-freelance1{
	background-image:url(/assets/images/Darwin^x/contentdarwinx.jpg) !important;
}
.section-freelance2{
	background-image:url(/assets/images/Walmart/more.jpg) !important;
}
.section-freelance3{
	background-image:url(/assets/images/Grover/more.jpg) !important;
}
.section-freelance4{
	background-image:url(/assets/images/Darwin^x/contentdarwinx.jpg) !important;
}
.section-freelance5{
	background-image:url(/assets/images/Darwin^x/contentdarwinx.jpg) !important;
}
.section-freelance6{
	background-image:url(/assets/images/Darwin^x/contentdarwinx.jpg) !important;
}
.section-freelance7{
	background-image:url(/assets/images/Darwin^x/contentdarwinx.jpg) !important;
}
.section-freelance8{
	background-image:url(/assets/images/Darwin^x/contentdarwinx.jpg) !important;
}
.section-freelance9{
	background-image:url(/assets/images/Darwin^x/contentdarwinx.jpg) !important;
}
